<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title,body)">

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/layout.css}" rel="stylesheet" />
	<title th:replace="${title}">Insert title here</title>
</head>

<body>
	<header th:replace="~{common/header :: layout-header}"></header>
	<article id="container">
		<aside th:replace="~{common/sidebar :: layout-sidebar}"></aside>
		<main id="main" th:replace="${body}"></main>
	</article>
	<footer th:replace="~{common/footer :: layout-footer}"></footer>
</body>

</html>




